body{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 50px;
    color: #363958;
}

.half-width{
    width: 47%;
    float: left;
    margin: 3px;
    padding: 2px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}

.half-width img{
    width: 100%;
}

.orange-highlight{
    color:#FF8367;
}

.mid-half{
    width: 30%;
    float: left;
    padding: 3px;
    margin: 3px;
}

section{
    height: 500px;
    padding: 100px;
}

.mid-half{
    box-shadow: 10px 10px 40px gainsboro;
    border-radius: 5px;
    width: 30%;
}

.mid-half img{
    width: 100%;
}

.mid h1{
    text-align: center;
}


.bottom{
    background-image: url(image/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.link-chat{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: 700px;